@use '@angular/material' as mat;
@use './reset';
@forward "./variables";

@include mat.core();
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat&display=swap');

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
  typography: (
    plain-family: 'Montserrat, sans-serif',
    brand-family: 'Montserrat, sans-serif',
  )
));

html {
  @include mat.all-component-themes($my-theme);
}

.active {
  background-color: var(--tertiary-color);
  border-radius: 20px 0 0 20px !important;
  width: 100%;
}

.link {
  color: var(--quaternary-text-color);
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 40px;
  font-weight: 500;
}


