<nav>
  <mat-toolbar>
    <a class="link" routerLink="/sections/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a class="link" routerLink="/sections/gallery" routerLinkActive="active">
      <mat-icon>photo</mat-icon>
      Gallery
    </a>
    <a class="link" routerLink="/sections/crud" routerLinkActive="active">
      <mat-icon>build</mat-icon>
      CRUD
    </a>
    <a class="link" routerLink="/sections/profile" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      Profile
    </a>
  </mat-toolbar>
</nav>