<div class="gallery-container">
  <div class="selected-image-container">
    <div class="selected-image" matTooltip="Open {{ selectedImage.title }}">
      <img
        [src]="selectedImage.src"
        [alt]="selectedImage.title"
        (click)="openModal()"
      />
    </div>
  </div>
  <div class="image-list">
    <img
      *ngFor="let image of paginatedGallery"
      [src]="image.src"
      [alt]="image.title"
      (click)="selectImage(image)"
      [class.selected]="image.id === selectedImage.id"
    />
  </div>
  <div class="controls">
    <button mat-icon-button (click)="previousImage()" [disabled]="isFirstImage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-icon-button (click)="nextImage()" [disabled]="isLastImage()">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isPlaying" (click)="startSlideshow()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isPlaying" (click)="stopSlideshow()">
      <mat-icon>stop</mat-icon>
    </button>
  </div>
  <div class="pagination-controls">
    <button mat-icon-button (click)="previousPage()" [disabled]="currentPage === 0">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>{{ currentPage + 1 }} / {{ totalPages }}</span>
    <button mat-icon-button (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= gallery.length">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>