.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.login-actions {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-card-header {
  margin-bottom: 10px;
}