.mat-mdc-button:not(:disabled) {
	color: var(--color-text-quaternary)
}

.modal-container {
  height: 600px;
  width: 500px;
  display: grid;
  grid-template-rows: 65px minmax(0, 1fr) 65px;
  margin-bottom: 20px;
}

mat-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  cursor: pointer;
}
